{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-3">My Reviews</h1>
        <ul class="list-group">
            {% for review in reviews %}
                <li class="list-group-item">
                    <h5>{{ review.review_date }}</h5>
                    <p>{{ review.review_content }}</p>
                    <p>Rating: {{ review.review_star }} stars</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
